/***************
Variables
***************/

  // Colors
  $dark-red:            #8E443D;
  $mid-red:             #F67E7D;
  $yellow:              #E0D68A;
  $green:               #6FC2BA;
  $blue:                #3F7CAC;


  // Typography
  $base-font-size:      16px;
